<form>
    <button type="button" class="btn toggleEdit btn-primary"
            ng-click="toggleEdit(snippetData)"> {{isEditing ? 'Save' : 'Edit'}} </button>
    <button type="button" class="btn cancelEdit btn-primary" ng-click="cancelEdit()"> Cancel </button>
    <div class="snippetBar">
        <div class="rightSnippetBar">
            <button type="button" class="btn toggleScroll btn-default"
                    ng-click="toggleScroll($event)">Scroll</button>
            <button type="button" class="btn toggleLineWrap btn-default"
                    ng-click="toggleLineWrap($event)">Wrap</button>
            <button type="button" class="btn toggleLineNumbers btn-default"
                    ng-click="toggleLineNumbers()">#</button>
        </div>
    </div>
    <textarea ui-codemirror ui-codemirror-opts="codeEditorOptions"
              ng-model="snippetData.code"></textarea>
    <div class="codeModel">
        <p>The following is the raw ng-model from codemirror shown in a "pre" tag. Notice that the spaces and line returns are in the model. Persist this, not the codemirror generated html!</p>
        <pre> {{snippetData.code}} </pre>
    </div>
</form>
